
body{margin: 0px;
padding: 0px;
}


h1 a {color: rgb(0, 17, 255);
    text-decoration: none;

}
h1 a:hover{color: aqua;
}


.time:hover {
	-webkit-animation: time 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: time 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/*time animation*/

 @-webkit-keyframes time {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes time {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}




h1{text-align: center;
   }
header { background: none;
margin: 0px;
padding: 1%;
}
.fa-sitemap{
  font-size: 250%;
  color: rgb(32, 31, 32);
}
/*search*/
.dropbtn {
  background-color: rgb(62, 70, 62);
  color: white;
  padding-left: 200%;
  padding-right: 200%;
  padding-top: 10%;
  padding-bottom: 1%;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 500px;
  box-shadow: 5px 20px 30px rgb(15, 15, 15);
  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-left: 30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 100%;
  margin-right: 100%;
  text-align: center;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;
  transition: .2s;
}

.dropdown:hover .dropdown-content {display: block;
transition: .2s;
}

.dropdown:hover .dropbtn {background-color: #e6eee7;
color: black;
border: 2px solid black;
border-radius: 5px;
transition: .3s;
}
/*google*/
  form.searchform {position: relative;
  padding-left:5%;
  padding-top:100% ;
  padding-bottom: 5%;
  }
  .googlep{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #043609;
  font-size: 200%;
  }
  

  /*bing*/
  .searchform2{position: relative;
    padding-left:5%;
    padding-bottom: 5%;
    }
    /*yahoo!*/.searchform2{position: relative;
    padding-left:5%;
    padding-bottom: 5%;
    }
    
    /*icons movies*/
    .btn {
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      transition: .2s;
    }
    
    /* Green */
    .success {
      border-color: #4CAF50;
      color: green;
      font-size: 16px;
      margin: 0px;
    }
    
    .success:hover {
      background-color: #4CAF50;
      color: white;
    }
    
    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .info:hover {
      background: #2196F3;
      color: white;
    }
    
    /* Orange */
    .warning {
      border-color: #ff9800;
      color: orange;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .warning:hover {
      background: #ff9800;
      color: white;
    }
    
    /* Red */
    .danger {
      border-color: #f44336;
      color: red;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .danger:hover {
      background: #f44336;
      color: white;
      
    }
    
    /* Gray */
    .default {
      border-color: #e7e7e7;
      color: black;
      padding-left:50px ;
     padding-right:50px ;
    }
    
    .default:hover {
      background: #e7e7e7;
    }
    .success{
    position: relative;
    padding-left:50px ;
     padding-right:50px ;
    
    }
    .seo{
      
      border-color: #0b6ef0;
      padding-left:50px ;
     padding-right:50px ;
    }
    .seo:hover{
      background: rgb(4, 72, 128);
      
    }

    /*movcon*/
 .sucdown {
  position: relative;
  display: inline-block;
  
 }

.movcon {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
  max-height: 400px;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 5px;
    transition: .3s
}

.movcon a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.movcon a:hover {background-color: #ddd;}

.sucdown:hover .movcon {display: block;}

/*mavcon animation*/
.movcon {
	-webkit-animation: movcon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440)backwards;
	        animation: movcon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440)backwards;
}

 @-webkit-keyframes movcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes movcon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}


    @media only screen and (max-width: 1200px) {
      body {margin: 0%;
        background-color: lightblue;
      
      }

      .dropdown {  position: relative;
        display: inline-block;
        margin-top: 5%;
        margin-left: 5%;

      }
      .dropbtn {
        background-color: rgb(29, 29, 29);
        color: white;
        padding-left: 100%;
        padding-right: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 10px;
        border: 2px solid black;
        border-radius: 8px;
      
      }
      .fa-search{
        position: relative;
      left: 3%;
        text-align: center;
        color: #f44336;
        
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 100%;
        margin-right: 100%;
        text-align: center;
      }
      .success{
        margin-right: 0%;
      }
      .default{margin-right: 10%

      }
      .info{margin-right: 10%

      }
      .warning{margin-right: 10%

      }
      .danger{margin-right: 10%

      }
      .seo{
        color: #20a1dd;
        border-color: #0b6ef0;
        padding-left:50px ;
       padding-right:50px ;
       margin-left: 5%;
       
  
      }
      .fa-search{
        font-size:300%;
        position: relative;
        right:10% ;
        
      }
      p.Searchnow {
     
      display: none;
      }
      .internet-map{
      display: none;
      }
      .mapweb{
       display: none;
      }
      .web-on{
        display: none;
      }
      .footer-div{
        display: none;
      }
      
    }


    .gain{
      margin-inline-start: 20%;
      margin-top: 10%;

    }
    .time{
      border: 2px solid rgb(245, 240, 240);
      border-radius: 50px;
    }
    .time:hover{
      background: rgb(26, 25, 25);
      color: white;
      border: 2px solid rgb(26, 25, 25);
      border-radius: 5px;
      transition: .3s;
    }
.icsearch{
  font-size: 200%;
}
.fa-search{
  font-size:400%;
  position: relative;
  right:300% ;
  
}
.gogo{font-size: 200%;

}

.gobing{font-size: 200%;

}
.goyahoo{font-size: 200%;

}
.goduck{font-size: 200%;

}
/*info*/
.fa-film{
  font-size: 300%;
}

p.Searchnow {position: absolute;
  top: 240%;
  
  padding-left: 5%;
  font-size: 700%;
  color: rgb(1, 16, 20);
  text-decoration: underline;
}

.fa-bars {
  font-size: 400%;
  color: rgb(65, 63, 63);
}
/*vbar*/
.vbar {
  position: relative;
  display: inline-block;

 }


.vbar-contener {
  display: none;
  position: absolute;
  background-color: #96f5b3;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(160, 155, 155, 0.2);
  z-index: 1;
  height: auto;
  max-height: 860px;
    overflow-x: hidden;
  right: 1%;
  left: 1%;
transition: .1s;
border: 2px solid black;
      border-radius: 5px;
  


}

.vbar-contener a {
  color: black;
  padding: 20px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 130%;

}

.vbar-contener a:hover {background-color: #ddd;}

.vbar:hover .vbar-contener {display: block;}

.vbar-contener {
	-webkit-animation: vbar-contener 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440) backwards;
          animation: vbar-contener 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.440) backwards;
          
          
}

 @-webkit-keyframes vbar-contener {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes vbar-contener {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.btnvbar{
  border: 2px solid transparent;
      border-radius: 5px;
      background-color: transparent;
}
/*animation vbar*/
.btnvbar:hover{
  
    -webkit-animation: btnvbar 0.6s ease-in both;
            animation: btnvbar 0.6s ease-in both;
transition: .3s;
}

 @-webkit-keyframes btnvbar {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes btnvbar {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}


.goside{
  margin-left: 50%;
  font-size: 120%;
  color:gray;
}
.goside:hover{
  color: #50775b;
  transition: .3s;
}
.internet-map{
  position: absolute;
  top:150%;
  font-size: 200%;
  color: rgb(43, 44, 44);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.mapweb{
  position: absolute;
  top: 170%;
  right: 49%;
}
.web-on{
  position: absolute;
  top: 165%;
  left: 55%;
  right: 5%;
  font-size: 150%;
}
.sucdown-left {
  position: relative;
  display: inline-block;
  float: right;
 }

.movcon-left {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
  max-height: 400px;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 5px;
    transition: .3s;
  
}

.movcon-left a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.movcon-left a:hover {background-color: #ddd;}

.sucdown-left:hover .movcon-left {display: block;}
/*animation left*/
.movcon-left {
	-webkit-animation: movcon-left 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: movcon-left 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes movcon-left {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes movcon-left {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

body{
  background:url(Subtle-Prism.svg)
}
.seeo{
  border: 2px solid black;
  border-radius: 10px;
  transition: .2s;
  font-size: 200%;
  color: rgb(71, 69, 69);
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
.seeo:hover{
  border: 2px solid rgb(216, 203, 203);
  border-radius: 50px;
  transition: .2s;
  font-size: 200%;
  background: #02885b;
}
.form-control{
  border-radius: 5px;
  transition: .2s;
  font-size: 200%;
  box-shadow: 5px 10px 5px rgb(0, 0, 0);
  
}
.footer-div{
  background: #0c0c0c;
  padding-top: 200px;
  position: relative;
  padding-right: 1250px;
  padding-left: 0px;
  margin-bottom: 10px;
  right: 21.2%;
  border: 2px solid rgb(216, 203, 203);
  border-radius: 5px;
}

.founder-section{
  float: right;
  position: absolute;
  padding-left: 7%;
  padding-right: none;
  padding-top: none;
background:transparent;
top: 15%;
right: .1%;

}
.rphoto{position: absolute;
  border-radius: 10px;
  top:0%;
right: 30%;
  border: 2px solid rgb(46, 44, 44);
  border-radius: 1px;
  
}
.rphoto:hover{
  border-radius: 10px;
opacity: .5;
transition: .3s;

}
.our-one{
  position: absolute;
  right: .1%;
  top: 30%;
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
  
}
.our-one:hover{
  background: #129684;
  border: 2px solid rgb(24, 26, 25);
  border-radius: 2px;
}
.founder-center{position: absolute;
  top: 10%;
  right:90%;
  font-size: 150%;
  color: rgb(79, 83, 82);
  text-decoration: overline;
}
.hello-spider{position: absolute;
top: 1%;
left: 36.2%;
}